

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Subject to Change*/
.brdr{
   border: solid black 2px;
   border-radius: 4px;
}

/*.chead{}*/
a:hover{
   text-decoration: none;
}


.pull-center {
    padding-right: 300px;
}


.hfs{
    width:150px;
    height: 150px;
}

.drpdown {
    position: relative;
    display: inline-block;
}

.drpdown-content {
    /*display: none;*/
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.drpdown:hover .drpdown-content {
    display: block;
}