

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*Subject to Change*/
.brdr{
   border: solid black 2px;
   border-radius: 4px;
}

/*.chead{}*/
a:hover{
   text-decoration: none;
}


.pull-center {
    padding-right: 300px;
}



