

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



.brdr{
   border: solid black 2px;
   border-radius: 4px;
}

.chead{}
a:hover{
   text-decoration: none;
}











